{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">Aboute Page</h3>
<p>Hello Sir,

    The MiniBlog Project is a lightweight and efficient blogging platform designed to provide users with a simple way to create, manage, and share blog posts.
    Developed using Django (Python) for the backend, HTML, CSS, and Bootstrap for the frontend, this project demonstrates a seamless integration of modern
    web technologies to deliver an intuitive user experience.</p>
    <p>Key Features:
        User-Friendly Interface:
        A clean and responsive design ensures easy navigation and accessibility across devices. 
       <p> CRUD Functionality:
        Users can create, read, update, and delete blog posts efficiently.</p>
        
       <p> Database Integration:
        Utilizes Django's ORM to manage and store user data securely.</p>
        
       <p> Bootstrap Styling:
        Incorporates Bootstrap components for a visually appealing layout and responsive design.</p>
        
       <p>Dynamic Content Management:
        Blogs are dynamically displayed, providing an interactive browsing experience for users.</p>
        
        <p>Customizable Templates:
        Custom HTML templates allow for flexible design and content management.</p>
        
        <p>Purpose:
        The MiniBlog Project is perfect for beginners to learn and explore the fundamentals of web development using Django and frontend technologies.
        It also serves as a foundation for building more complex web applications.</p>
        
       <p>Technology Stack:
        Backend: Django (Python)
        Frontend: HTML, CSS, Bootstrap
        Database: SQLite (default Django database)
        This project is an excellent demonstration of how to create a functional and visually appealing web application while adhering to industry best practices.</p>
        
        
        
        
        
        
        
        </p>


</div>

{% endblock content %}